@font-face {
    font-family: "HussarBold";
    src: url("./fonts/HussarBold.otf") format("opentype");
}

#expanding-frame {
    transform-origin: center top;
    will-change: transform, opacity;
}

/* Style optionnel pour un effet de flou lors du scroll */
.backdrop-blur-sm {
    backdrop-filter: blur(8px);
}

.info-box {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
  }
  
.info-box.visible {
    transform: translateY(0);
 }
  